*
{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(90, 3, 37);
    font-family: cursive;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    display: flex; 
    flex-direction: column; 
}

.content{
    width: 100%;
}

.header{
    display: flex;
    height: 160px;
    background: rgb(202,14,117, 0.726);
    width: 100%;
    border: thick double rgb(128, 18, 64, 0.596);
}

.content-head{
    height: 150px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo{
   padding: 14px 10px 10px 10px;
   float: left;
}

.header__text{
    font-family: 'Space Mono', monospace;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.menu{ 
    margin: 10px 10px 0 10px;
    display: flex;
    list-style: none;
    height: 300px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.menu li{
    background-color:rgb(41,42,52, 0.733) ;
    width: 90%;
    text-align: center; 
    margin: 10px; 
    font-size: 2ch;
    border: 0.5px solid ;
    padding: 10px;
}

.menu a{
    color: rgb(59, 58, 58);
    display: block; 
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

.menu a:hover{
    color: rgb(132, 29, 72);
    transition: 0.3s linear;
}

.container{
    flex: 1 1 auto;
    margin: 10px;
}

.container-flex{
    display: flex;
    flex-direction: column;
}

.content-of-body{
    padding: 10px 10px 10px 30px;
    margin: 30px 15px 0 15px; 
    background-color: rgb(213, 188, 228);
    margin-bottom: 30px;
    
}

.content-of-body a:hover{
    color: rgb(41,42,52, 0.733) ;
    transition: 0.3s linear;
} 

.content-of-body ol{
    padding: 30px;
}

.content-of-body img{
    width: 100%;
}

a{
    color: rgb(141, 64, 192);
    display: block; 
    font-family: cursive;
    text-decoration: underline;
}

.tables{
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 10px 15px; 
    background-color: rgba(213, 188, 228);
    margin-bottom: 30px; 
}
table{
    width: 100%;
    font-size: 22px;
    font-family: cursive;
    margin-right: 30px;
}
table,th,td{
    border: 2px solid rgb(87,8,54);
    border-color: rgba(36,7,13,0.842);
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: rgba(221, 90, 178, 0.63);
}
tbody tr:nth-child(even){
    background-color: rgba(47, 163, 134, 0.685);
}

.tables a:hover{
    color: rgb(41,42,52, 0.733) ;
    transition: 0.3s linear;
} 

#table{
    padding-left: 20px;
}

.formes{
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 10px 15px; 
    background-color: rgba(213, 188, 228);
    margin-bottom: 30px;  
}

#form{
    padding-left: 20px;
}
.content-of-form{
    font-family: 'Space Mono', monospace;
    border:2px solid;
    padding: 10px;
}

.content-of-form input{
    background-color: rgb(48, 46, 46);
    color: rgb(247, 255, 255);
}

.content-of-form select{
    background-color: rgb(48, 46, 46);
    color: rgb(247, 255, 255);
}

.content-of-form textarea{
    background-color: rgb(48, 46, 46);
    color: rgba(91, 223, 212, 0.733);
}

.footer{
    width: 100%;
    background-color: rgb(41, 42, 52, 0.226);
    box-shadow: 10px 10x 10px 5px rgba(87, 86, 86, 0.281);
}
.footrow{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.foottext{
    font-size: 15px;
    letter-spacing: 0.4px;
}

@media screen and (min-width: 300px) {
    .menu{
        flex-direction: column;
        margin: 10px 0 0 0;
    }
    .menu li{
        margin: 5px 10px;
    }
    .menu a{
        padding:  4px; 
        font-size: 20px;
    }
    table{
        font-size: 10px;
        width: 100%;        
    }
    .content-of-table{
        padding:10px;
    }
    .content-of-form{
        padding:10px;
    }

    .formes{
        order: 2;
    }

    .tables{
        order: 3;
    }
    .header{
        width:auto;
    }

    .header__text{
        font-size: 16px;
        height: 30px;
    }
    .header__logo{
        width: 160px;
    }
    .content{
        max-width: 960px;
        margin: 0 auto;
    }
}
 @media screen and (min-width: 760px){
    .menu{
        margin: 10px 10px 0 10px;
    }

    table{
        font-size: 20px;
        width: 100%;        
    }
  
}
@media screen and (min-width: 1024px){
    .menu{
        height: 60px;
        flex-direction: row;
        margin: 10px 0 0 0;
    }
    .header__title{
        margin: 0;
    }
    
    table{
        font-size: 25px;
        width: 100%;        
    }

    .header__logo{
        width: 200px;
    }
    
    .tables{
        order: 2;
    } 

    .formes{
        order: 3;
    }

}